// @import './variables.scss';
@import './mixin.scss';

:global {
  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
  }

  .btn {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
  }

  .line1 {
    -webkit-line-clamp: 1;
  }

  .line2 {
    -webkit-line-clamp: 2;
  }

  .line3 {
    -webkit-line-clamp: 3;
  }

  .dotdot {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    display: box;
    -webkit-box-orient: vertical;
  }
}

html,
body,
div,
span,
object,
button,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
code,
em,
img,
q,
small,
strong,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
table,
tbody,
tr,
th,
td,
input {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

html {
  background: #fff;
  font-family: 'STHeiti', 'Microsoft YaHei', 'Helvetica', 'Arial', sans-serif;
  -webkit-text-size-adjust: none;
  word-break: break-word;
}

a {
  text-decoration: none;
  color: #131313;
}

p {
  color: #333;
  line-height: 18px;
  border: none;
  outline: none;
  max-height: 100%;
}
